main {
  background-color: #f3f5f7;
  width: 100%;
  padding: 100px 0;
}

main .container-contentblog {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 900px;
  margin: 0 auto;
  height: 100%;
  font-family: "LexendDeca";
}

main .container-contentblog .posts {
  padding: 25px 30px;
  background-color: #fff;
  border-radius: 5px;
}

main .container-contentblog .posts h2 {
  font-size: 26px;
  line-height: 32.5px;
  font-weight: 400;
  font-family: "LexendDeca";
  margin-top: 20px;
  margin-bottom: 8px;
}

main .container-contentblog .posts p.blog-text {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  font-family: "LexendDeca";
  color: #717171;
  margin-bottom: 25px;
}

main .container-contentblog .posts p.date {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "LexendDeca";
  color: #717171;
}
main .container-contentblog .posts .row-icon {
  display: flex;
  justify-content: space-between;
}

main .container-contentblog .posts .row-icon .icon-fav {
  content: url(./assets/icon-fav.png);
  width: 21.88px;
}
